# Backend
backend/bin/
backend/obj/
backend/.vs/
backend/Properties/

# Frontend
frontend/node_modules/
frontend/dist/

# Misc
.env
*.user
scanner-electron/dist/
scanner-electron/node_modules/
uploads/
